@font-face {
  font-family: "ABCDiatypeRounded";
  src:
    local("ABCDiatypeRounded-Black-Trial.woff"),
    url("ABCDiatypeRounded-Black-Trial.woff") format("woff");
}
@font-face {
  font-family: "ABCMarist";
  src:
    local("ABCMarist-Book-Trial.woff"),
    url("ABCMarist-Book-Trial.woff") format("woff");
}
@font-face {
  font-family: "ABCMaristItalic";
  src:
    local("ABCMarist-BookItalic-Trial.woff"),
    url("ABCMarist-BookItalic-Trial.woff") format("woff");
}

body{
  background-color:/*#004225*/ #3B5249 ;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: large;
  font-family: 'ABCMarist';
}
h1{
  color: #F5F5DC; /* I am trying cosmic latte, the original color is F5F5DC*/
  font-family: 'ABCDiatypeRounded';
  margin-bottom: 1%;
}
h3{
  color: #F5F5DC; /*TRUE COLOR : F5F5DC*/
  font-family: 'ABCDiatypeRounded';
  margin-bottom: 1%;
}
p{
  color: #FFCF9D;
  margin-bottom: 1%;
  font-family: 'ABCMarist';
}
hr{
  border: 1px solid #FFCF9D;
  margin-top: 2%;
  margin-bottom: 2%;
}
li{
  color: #FFCF9D;
  font-family: 'ABCMarist';
}
/* unvisited link, visited link, mouse over link, selected link*/
a:link, a:visited, a:active  {
  color: #FFB000;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
}
a:hover {
  color: #FFB000;
  text-decoration: underline;
  font-style: normal;
  font-weight: bolder;
  font-family: 'ABCMarist';
}