@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Spectral:ital,wght@0,400;0,800;1,400&display=swap');

body{
  background-color:/*#004225*/ #3B5249 ;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
  font-family: 'Spectral', serif;
  font-weight: 300;
  line-height: 125%;
}
h1{
  color: #F5F5DC;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1%;
  line-height: 2em; /*For mobile*/
}
h3{
  color: #F5F5DC; 
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1%;
}
p{
  color: #FFCF9D;
  margin-bottom: 1%;
  font-family: 'Spectral', serif;
}
hr{
  border: 1px solid #FFCF9D;
  margin-top: 2%;
  margin-bottom: 2%;
}
li{
  color: #FFCF9D;
  font-family: 'Spectral', serif;
}
/* unvisited link, visited link, mouse over link, selected link*/
a:link, a:visited, a:active  {
  color: #FFB000;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
}

@media (min-width: 576px) {
  body {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 768px) {
  body {
    margin-left: 20%;
    margin-right: 20%;
  }
  a:hover {
    color: #FFB000;
    text-decoration: underline;
    /*font-style: normal;*/
    font-weight: bold;
    /*font-family: 'Spectral', serif;*/
  }

}

@media (min-width: 992px) {
  body {
    margin-left: 25%;
    margin-right: 25%;
  }
}
